$theme_background: #F1EFE4;
$title_font_color: #965735;
$button_color: #f29c9b;
$button_warn_color:#a3c07e;
$red_suit_color:#AF3C3C;
$black_suit_color:#323232;
// $main_font_family: 'jf-openhuninn-1.0';
$masking: rgba(230, 230, 230, 0.6);
$highlight_color:#f5db8f;
$pass_color:#a5dc6e;
$unable_color:#dcdcdc;

//toggle
$main_orange: #f5ab57;