@mixin button_style {
    cursor: pointer;
    background-color: $button_color;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;

    &:active,
    &:focus {
        outline: none;
    }
}

@mixin translucent_mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: $masking;
    display: flex;
    justify-content: center;
    align-items: center;
}