@mixin button_style {
    cursor: pointer;
    background-color: $button_color;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;

    &:active,
    &:focus {
        outline: none;
    }
}

@mixin translucent_mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: $masking;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin radio_style($w, $ml) {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: $w;
    height: $w;
    border-radius: 100%;
    background-color: #fff;
    margin-right: $ml;

    &::after {
        content: "";
        display: block;
        width: 70%;
        height: 70%;
        border-radius: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@mixin card_ui {
    background-color: #fafaf7;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 2px;
    width: 17vw;
    height: 24vw;

    .card_info {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;

        &.reverse {
            transform: rotate(180deg);
            z-index: 0;
        }

        .number,
        .suit {
            font-size: 12px;
            text-align: center;

            &.suit {
                margin-top: 1px;
            }

            &.black {
                color: $black_suit_color;
            }

            &.red {
                color: $red_suit_color;
            }
        }
    }

    .pattern {
        background-color: white;
        flex: 1 1 100%;
        margin: 10px 4px;
    }
}

@mixin toggle_ui($color, $position) {
    z-index: 11;
    transition: all 0.5s;
    position: absolute;
    bottom: $position;
    left: 100%;
    transform: translateX(-50%);
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    background-color: $color;
    display: flex;
    align-items: center;
}

@mixin toggle_list_ui{
    position: absolute;
    left: 100%;
    z-index: 10;
    background: #fff;
    transition: all 0.5s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    overflow: scroll;
}